title = "Basket"
url = "/basket"
layout = "default"
is_hidden = 0
==
<div>
	<div class="container">

        <div class="page-header">
            <h2>
                Innovision<br />
                <small>Basket Page</small>
            </h2>
        </div>

        {% if basket.cartItems.count > 0 %}
            <div class="product-list">
                <div class="row head">
                    <div class="list-option col-md-4"><b>Product Title</b></div>
                    <div class="list-option col-md-4"><b>Item Price</b></div>
                    <div class="list-option col-md-4"><b>Quantity</b></div>
                </div>

                <div class="row">
                    {% for item in basket.cartItems %}

                        <div class="list-row">
                            <div class="list-option col-md-4">
                                <p>{{ item.name }}</p>
                                {% if item.options.multibox %}
                                    <small>(Multibox)</small>
                                {% endif %}
                            </div>
                            <div class="list-option col-md-4">
                                <p>{{ item.price }}</p>
                            </div>
                            <div class="list-option col-md-4">
                                <p>{{ item.qty }}</p>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>

            <a href="/checkout">Proceed to checkout</a>

        {% else %}

            <p>You don't have any items in your basket. :-(</p>

        {% endif %}
    </div>
</div>
