<h3>Register</h3>
<form class="delivery row"
    data-request="onRegister"
    data-request-data="redirect: '/'">

    <!-- First Name -->
    <div class="form-group col-md-10">
        <label for="registerName">First Name</label>
        <input name="name" class="form-control" type="text" id="registerName" placeholder="Enter your first name" />
    </div>

    <!-- Last Name -->
    <div class="form-group col-md-10">
        <label for="registerSurname">Last Name</label>
        <input name="surname" class="form-control" type="text" id="registerSurname" placeholder="Enter your surname" />
    </div>

    <!-- Email -->
    <div class="form-group col-md-10">
        <label for="registerEmail">Email</label>
        <input name="email" class="form-control" type="email" id="registerEmail" placeholder="Enter your email" />
    </div>

    <!-- Password -->
    <div class="form-group col-md-10">
        <label for="registerPassword">Password</label>
        <input name="password" class="form-control" type="password" id="registerPassword" placeholder="Choose a password" />
    </div>

    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
